/* Convert template */


/* Defaults */

html {
    height: 100%
}

body {
    height: 100%;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.6em overflow-x: hidden;
}


/* Typography ==================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    padding: 0;
    font-weight: bold;
    color: #111;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 .8em;
    color: #325B80;
}

h2 {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 0 0 .8em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.4em;
}

h5 {
    font-size: 1.1em;
    line-height: 1.4em;
}

h6 {
    font-size: 1em;
    line-height: 1.2em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none
}

p {
    padding: 0 0 1em;
    margin: 0;
}

a {
    color: #333;
}

a.btn,
a.btn:visited {
    width: 100%;
    border: 0;
    padding: 1em 1.5em;
    margin: 0 1em 0 0;
    font-size: 1em;
    line-height: 3em;
    border: solid 1px #06507b;
    color: #fff;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4bb2ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4bb2ec), to(#168cce));
    background-image: -webkit-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -moz-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -ms-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -o-linear-gradient(top, #4bb2ec, #168cce);
}

a.btn:hover {
    background: #168cce;
}

a.btn-secondary {
    border: solid 1px #fff !important;
    background: url(../images/trans.png) !important;
}

a.btn-secondary:hover {
    border: solid 1px rgba(255, 255, 255, 0.6) !important;
}

img {
    border: 0;
}


/* icons */

.glyph-item {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    color: #222
}

.mega {
    font-size: 3.2em;
}

.med {
    padding-top: 0.2em;
    font-size: 1.5em;
}

.modal-begeeb-header {
    background: #168cce;
    border-radius: 8px 8px 0 0;
    background: #168cce;
}

.modal-begeeb-header .close {
    font-size: 30px;
    margin-top: 0;
}

.modal-begeeb-header h4 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.modal-custom {
    max-width: 450px;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    font-size: 16px;
    width: 45px;
}

.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #ddd;
}

.btn {
    font-size: 20px;
}

.btn-default {
    color: #999999;
}

.modal-content {
    border-radius: 11px;
}

.modal-spacer {
    height: 20px;
}

.modal-footer {
    border-radius: 0 0 11px 11px;
    background: #168cce;
}

.calc-row {
    padding: 8px 0;
    border-bottom: 1px solid #f2f2f2;
}

.price-details-box {
    background: #fff;
}

.well {
    background: #fff;
    border-radius: 11px;
    padding-bottom: 0;
}


/* Structure and containers */

.inner img {
    max-width: 63px;
    height: 75px;
    padding-bottom: 20px;
}

#wrapper {
    background: #333 fixed top center;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.wrapper-flexi {
    height: auto !important
}

.wrapper-page {
    height: auto !important
}

.wrapper-page .hero {
    padding: 1em 0 .5em 1em;
}

.wrapper-page .hero h1 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 4em
}

.wrapper-page .hero h2 {
    text-align: left;
    padding: 0;
    margin: .5em 0 0;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7) !important;
}

.clearfix {
    clear: both;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

#wrapper {
    background-image: url(../images/backgrounds/bg-alternate-02-01_03.jpg);
}

.btn,
.btn:visited {
    border: solid 1px #06507b;
    color: #fff;
    background-color: #4bb2ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4bb2ec), to(#168cce));
    background-image: -webkit-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -moz-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -ms-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -o-linear-gradient(top, #4bb2ec, #168cce);
    background-image: linear-gradient(to bottom, #4bb2ec, #168cce);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4bb2ec, endColorstr=#168cce);
}

.btn:hover {
    background: #168cce;
}

.form-row input.btn {
    border: solid 1px #06507b;
    color: #fff;
    background-color: #4bb2ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4bb2ec), to(#168cce));
    background-image: -webkit-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -moz-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -ms-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -o-linear-gradient(top, #4bb2ec, #168cce);
    background-image: linear-gradient(to bottom, #4bb2ec, #168cce);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4bb2ec, endColorstr=#168cce);
}

.form-row input.btn:hover,
.form-row input.btn:focus {
    background: #168cce;
}

.glyph-item {
    color: #168cce
}

.pricing .blocks .inner ul li.price {
    background: #4bb2ec;
    border-bottom: solid 5px #168cce;
    margin-top: -1px
}

.highlight h2 span {
    color: #4bb2ec
}


/* logos-bar ==================================== */

.panel {
    text-align: center;
    background: #fff;
    box-shadow: none;
    border: none;
}

.panel-heading {
    background: #fff;
    padding: 0;
}

.panel-title {
    background: #fff;
}

#accordion {
    padding-top: 20px;
}

.panel-default {
    border-color: #fff;
    background: #fff;
}

panel-body {
    border: 1px solid transparent!important;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #fff;
}

.logos-bar {
    max-height: 40px;
}


/* contact ==================================== */

label {
    display: block;
}

#success,
#error {
    display: none;
    background: #f9f9f9;
    border: solid 1px #ccc;
    margin-bottom: 1em;
    padding: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #777;
}

#success {
    border-color: #77b054
}

#error {
    border-color: #e65445
}

#success span p {
    color: #77b054;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#error span p {
    color: #e65445;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

label.error {
    color: red;
    padding-top: 10px;
}

.subscribe #success,
.subscribe #error {
    text-shadow: none;
    border: 0;
}


/* content ==================================== */

#content .inner {
    padding: 2em 2em 1em 0;
}

.item-box {
    float: left;
    width: 45%;
}


/* Strip ==================================== */

.strip {
    border-bottom: solid 1px #dce2e5;
    padding: 60px 0px;
}

.strip-alt {
    background: #f6f8f9;
}

.highlight h2 {
    font-size: 2.2em
}

.highlight h4 {
    line-height: 1.6em;
    color: #777;
    font-size: 1.4em
}

.highlight .inner-text {
    padding: 8em 0 4em
}

img.promoimg {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}


/* features ==================================== */

.features .inner {
    text-align: center
}

.features .inner .glyph-item {
    font-size: 3em
}


/* Forms ==================================== */

form {}

form a {
    text-decoration: none
}

form a:hover {
    text-decoration: underline
}

.form-row {
    margin-bottom: 1em;
}

.form-row input.text,
.form-row textarea,
select {
    width: 92%;
    border: solid 1px #ccc;
    padding: 0.3em 4%;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #fff;
    background: #fff url(../images/form_background.png) repeat-x top left;
    color: #666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 0 #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.form-row select {
    width: 100%;
    font-size: 1em;
}

.form-row input.btn {
    border: 0;
    padding: 0.45em;
    font-size: 1em;
    border: solid 1px #06507b;
    color: #fff;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4bb2ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4bb2ec), to(#168cce));
    background-image: -webkit-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -moz-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -ms-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -o-linear-gradient(top, #4bb2ec, #168cce);
}

.btn-continue {
    border: 0;
    padding: 1em 1.5em;
    font-size: 1em;
    border: solid 1px #06507b;
    color: #fff;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4bb2ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4bb2ec), to(#168cce));
    background-image: -webkit-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -moz-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -ms-linear-gradient(top, #4bb2ec, #168cce);
    background-image: -o-linear-gradient(top, #4bb2ec, #168cce);
}

.btn-continue:hover,
.btn-continue:focus {
    background: #168cce;
}

.btn-continue-container {
    padding-top: 50px;
}

.form-row input.btn:hover,
.form-row input.btn:focus {
    background: #168cce;
}

.form-row label option select {
    font-size: 1.2em;
    color: #111;
    font-weight: 300;
    line-height: 3em
}

.form-row label .glyph-item option select {
    margin: 0 0 0 .5em
}

.form-row .btn-extrawide {
    margin-right: 1em
}

.form-row .btn-extrawide {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.form-row .inner {
    margin: 0 1em 0 0;
    text-align: right
}


/* Header */

#header {
    padding: 1.2em 0 1.5em 1em;
    position: relative;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);
}

#header h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: 400
}

#header h1 a {
    color: #fff;
}


/* Menu */

#menu {
    margin-right: .5em;
    float: right;
    display: inline
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: .7em 1em 0 0;
}

#menu ul li {
    list-style: none;
    padding: 0;
    margin: 0 .5em 0 0;
    float: left;
}
.dropdown-menu li{
	width: 100%;
}

#menu ul li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: block;
}

#menu ul li a {
    color: rgba(255, 255, 255, 0.9);
    padding: .5em 1em
}

#menu ul li a:hover {
    color: #fff;
    cursor: pointer;
}
#menu ul li ul li a{
	color: #000;text-shadow: none;
}
#menu ul li ul li a:hover{
	background-color: #2874A7;
}
#menu ul li.current a {
    border: solid 1px rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url(../images/trans.png) !important;
}

#menu ul li.current a:hover {
    border-color: #fff;
}

h2.menulink {
    display: none
}


/* Hero */

.hero {
    padding: 1em 3em 0 3em;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.hero-narrrow {
    padding-left: 20%;
    padding-right: 20%;
}

.hero h1 {
    font-size: 3.7em;
    margin: 0 0 .5em;
    font-weight: 300
}

.hero h2 {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.9) !important;
    margin-bottom: 2em;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero h1 a,
.hero h2 a,
.hero h3 a,
.hero h4 a,
.hero h5 a,
.hero h6 a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.icons {
   
    text-align: center;
    position: absolute;
    bottom: 3%;
    width: 100%;
}

.icons a .glyph-item {
    color: #fff;
    font-size: 3em
}

.icons a:hover .glyph-item {
    color: #fff;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.5) !important;
}

.icons .glyph-item {
    color: #fff;
}


/* intro */

.intro {
    color: #fff;
    padding: 0;
    margin: 4em 0 2em 0;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.intro h1 {
    color: #fff;
}

.intro h1 span {
    border: solid 1px #fff;
    background: url(../images/trans.png) !important;
    padding: 0em .3em .15em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.intro h2 {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}

.intro-padded {}


/* featured */

.featured img {
    margin-bottom: -6px
}


/* subscribe */

.subscribe {
    background: url(../images/trans.png) !important;
    border: solid 0px rgba(255, 255, 255, 0.8);
    padding: 1em 5%;
    margin: 2em 0 4em;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.subscribe .form-row {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    background: #fff;
}

.subscribe .form-row input.text {
    width: 75%;
    padding: 1em 5%;
    float: left;
    border: 0;
    margin: 0;
}

.subscribe .form-row .btn {
    width: 15%;
    padding: 1.1em;
    float: right;
    margin: 0;
    border: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* form-box */

.form-box {
    padding: 0;
    margin: 2em 0 0;
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #666;
    display: none;
}

.form-box .top {
    background: #fff;
    padding: 1.5em;
    border-bottom: solid 1px #dce2e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-box .top h1 {
    color: #222;
    font-weight: 300;
    margin: 0;
    padding: 0
}

.form-box .top h1 span {
    font-weight: 400;
}

.form-box .top h2 {
    color: #222;
    font-weight: 400;
    margin: 0 0 .2em;
    padding: 0
}

.form-box .top h3 {
    margin: 0;
    padding: 0;
    color: #325B80;
}

.form-box .top p {
    padding: 0;
    margin: 0;
}

.form-box .bottom {
    background: #efefef;
    padding: 1.5em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shadow {
    background: url(../images/shadow.png) no-repeat top center;
    height: 20px;
    display: none
}


/* footer */

#footer {
    text-align: center;
    color: #999;
    padding: 3.5em 0 3em
}

#footer a .glyph-item {
    color: #999;
    font-size: 2em
}

#footer a:hover .glyph-item {
    color: #222;
}

.social-title {
    display: inline-block;
    border-bottom: 3px solid transparent;
}

#social a .glyph-item {
    display: inline-block;
    color: #999;
    font-size: 1.5em;
}

#social a:hover .glyph-item {
    color: #fff;
}

.footer {
    font-family: 'Lato', sans-serif;
    min-height: 350px;
    background-color: #474a4c;
    background-image: none;
    padding-top: 30px;
    z-index: 1;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

.footer ul li.title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6px;
    color: #fff;
}

.footer ul li {
    display: block;
    color: #babdbf;
}

.footer ul li a {
    text-decoration: none;
    color: #babdbf;
    display: block;
}

.footer ul li a:hover {
    color: #fff;
}

.payment-method img {
    opacity: 0.4;
    max-height: 50px;
    max-width: 50px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.payment-method img:hover {
    opacity: 0.8;
}

.payment-cards {
    display: inline-block;
    padding-left: 32px;
    padding-top: 0px;
    margin-top: 0px;
}

.footer ul li.title-no-margin {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    color: #fff;
}

.newsletter-list {
    margin-bottom: 10px;
}

#join {}


/* Pricing */

.pricing {
    text-align: center
}

.pricing .blocks {
    padding: 4em 4em 1em 6em
}

.pricing .blocks .inner {
    padding: 0;
}

.pricing .blocks .inner ul,
.pricing .blocks .inner ul li {
    list-style: none;
    padding: 0;
    margin: 0
}

.pricing .blocks .inner ul {
    border: solid 1px #dce2e5;
    border-bottom: 0;
    margin-bottom: 1em
}

.pricing .blocks .inner ul li {
    border-bottom: solid 1px #dce2e5;
    background: #fff;
    padding: .8em 0;
}

.pricing .blocks .inner ul li h2 {
    margin: 0;
    padding: 0;
}

.pricing .blocks .inner.primary ul li h2 {
    padding: 1em 0;
    font-weight: 400
}

.pricing .blocks .inner.secondary {
    margin-top: 2em;
}

.pricing .blocks .inner ul li.price {
    background: #333;
}

.pricing .blocks .inner ul li h1 {
    margin: .2em 0 0;
    line-height: 1em;
    padding: 0;
}

.pricing .blocks .inner ul li h1 span {
    font-size: .8em;
    color: #fff;
}

.pricing .blocks .inner ul li h1 strong {
    font-weight: 400;
    color: #fff;
}

.pricing .blocks .inner ul li h1 small {
    font-size: .4em;
    color: rgba(255, 255, 255, 0.7);
}

.pricing .blocks .inner a.btn {
    line-height: 5em
}


/* #sidebar */

#sidebar {
    margin-top: 1em
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style: none;
    padding: 0 0 1em;
    margin: 0 0 2em;
    border-bottom: solid 1px #dce2e5;
}

#sidebar ul li h3 {
    margin: 0 0 .8em;
}


/* Responsive options */

@media screen and (max-width: 50em) {
    .container {
        min-width: 100%;
        max-width: 100%
    }
    #header {
        padding: 1em
    }
    #header h1 {
        margin-left: .2em
    }
    #menu {
        position: absolute;
        top: 0em;
        left: 1em;
        right: 3.8em;
        -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        text-shadow: none;
        display: none;
        z-index: 1111;
    }
    #menu ul {
        margin: 0;
    }
    #menu li {
        display: block;
        width: 100%;
        float: none;
        margin: 0;
        clear: both;
    }
    #menu li a {
        display: block;
        float: none;
        clear: both;
        background: #fff;
        color: #333 !important;
        padding: 1em !important;
        border-bottom: solid 1px #dce2e5;
    }
    #menu ul li.current a {
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        float: none;
        clear: both;
        background: #fff !important;
        color: #333 !important;
        padding: 1em !important;
    }
    h2.menulink {
        float: right;
        display: inline;
        width: 30px;
        height: 30px;
        border: 0;
        margin: 0;
    }
    h2.menulink a {
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -1000px;
        background: url(../images/menu_btn_background.png) no-repeat center center;
        overflow: hidden;
        border: 0;
    }
    .hero {
        padding: 4em 1em;
        margin: 0 0 2em;
    }
    .form-box {
        margin: 0 1em
    }
    .shadow {
        display: none
    }
    .strip {}
    .strip .inner {
        padding: 1em;
    }
    .pricing .blocks {
        padding: 1em 1em 1em 1em
    }
    .form-row label select option {
        line-height: 1em
    }
    .form-row label .glyph-item select option {
        display: none
    }
    .form-row .inner {
        margin: 0 0 0 0;
        text-align: left
    }
    .intro {
        padding: 1em
    }
    .intro h1 {
        font-size: 2em
    }
    .intro h2 {
        font-size: 1.2em
    }
    #wrapper {
        height: auto !important
    }
    .padded {
        padding: 1.5em
    }
    .features {
        padding-top: 3em
    }
}


/*styles for 800px and down @ 16px!*/

@media screen and (max-width: 45em) {
    .container {
        min-width: 100%;
        max-width: 100%
    }
    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10,
    .span11,
    .span12 {
        width: 100%
    }
    .inner {
        margin: 0 0 1em 0;
    }
    #container_main {
        margin: 0;
    }
    #container_sidebar {
        float: none;
        clear: both;
        width: 100%;
    }
    #wrapper {}
    #header {
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

.step-healine {
    font-size: 36px;
}

.clr_one {
    font-weight: 500;
    color: #168cce;
}

.align-center {
    text-align: center;
}

.sequence {
    padding-top: 30px;
}

.step-item {
    margin-top: 36px;
    margin-bottom: 36px;
}

.step-item .title {
    color: #39f;
    margin-top: 6px
}

.line {
    stroke-dasharray: 20, 10, 5, 5, 5, 10;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    stroke: #168cce;
    stroke-width: 3;
}

p.lead {
    font-size: 24px;
    line-height: 38px;
}

.form-order {
    font-size: 16px;
}

#subscribe_email {
    width: 100%!important;
}

#submit {
    width: 200px;
    float: none;
    font-weight: 700;
}

#newsletter {
    margin-left: 40px;
    width: 40%!important;
}

#join {
    width: 25%!important;
}

@media screen and (min-width: 50em) {
    #menu {
        display: block !important
    }
}

@media (min-width: 768px) .lead {
    font-size: 21px;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.spacer {
    opacity: 0;
}

.panel-title > a {
    margin-left: 15px !important;
    opacity: 0.5;
}

.panel-title > a:hover {
    opacity: 1;
}

.logos-bar {
    max-height: 60px !important;
    width: 109px !important;
}

.accordion-toggle {
    margin: 16px 0 0 5px !important;
    position: absolute;
}

.col-md-offset-1 {
    float: none !important;
    margin: 0 auto !important;
    width: 93% !important;
}

.col-md-10.col-md-offset-1 > a {
    margin: 0 7px !important;
    opacity: 0.5;
}

.col-md-10.col-md-offset-1 > a:hover {
    opacity: 1;
}

.W100.TAC {
    list-style: outside none none;
    margin: 0 auto;
    width: 100%;
}

#merchantsIconsContainer li {
    float: left;
    opacity: 0.5;
    padding: 0 0 0 8px;
}

#merchantsIconsContainer li:hover {
    opacity: 1;
}

pre.null {
    background: none !important;
    border: none !important;
}


/* css by Nadeem */
#dashboard {
    margin: 42px 0;
}
.profile-section-head{
	border-bottom: 2px solid #ccc;padding-bottom: 10px;
	color:rgb(170, 103, 8);letter-spacing: normal;
}
.col-no-pad{
	padding: 0px;
}
.list-right{
	padding-left: 15px;
}
#order-history-wrap,.order-contain{
	overflow: hidden;margin-top: 0px !important;
}
.orders-list-ul{
	list-style: none;padding: 0px;font-family: "Oswald";
}
.orders-list-ul li{
	padding: 0px;margin-bottom: 20px;
	border: 1px solid #000;
}
.orders-list-ul .ord-num{
	background-color: #3597D8;color: #ffffff;font-size: 24px;
	padding: 12px 0;border-right: 1px solid #000;
}
.orders-list-ul .ord-num span{
	font-size: 12px;font-weight: bold;display: block;padding-top: 5px;padding-bottom: 10px;
}
.orders-list-ul .ord-num.pending{
	background-color: rgba(236, 117, 35, 0.86);
}
.orders-list-ul .ord-num.confirmed{
	background-color: rgba(104, 177, 8, 0.86);
}
.orders-list-ul .ord-num.cancelled{
	background-color: #3C3A3A;
}
.orders-list-ul .ord-date{
	padding: 12px 0;font-size: 24px;border-right: 1px solid #000;
}
.day-month{
	text-transform: uppercase;
}
.orders-list-ul .ord-date .year{
	font-size: 30px;
}
.ord-link{
	padding-left:5px;
}
.link-list{
	margin-top: 20px;word-break: break-all;text-align: left;margin-bottom: 20px;
}
.link-list a{
	text-decoration: underline;
}
.ord-img img{
	max-width: 100%;height: auto;padding-bottom: 0px;padding: 2px;
	border: 1px solid #999;opacity: .6;
}
.list-btn-wrap{
	margin-top: 20px;
}
.list-btn-wrap a{
	display: block;border-radius: 5px;border: 1px solid #000;text-decoration: none;
	padding: 5px 0px;width: 96%;margin: 0 auto;margin-bottom: 7px;font-size: 15px;
	-webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;
}
.list-btn-wrap a:hover{
	border-color: rgba(236, 117, 35, 0.86);color:rgba(236, 117, 35, 0.86);
}
.list-btn-wrap a.checkout-btn{
	background: rgba(236, 117, 35, 1);color:#fff;border-color: rgba(236, 117, 35, 0.86);
}
.list-btn-wrap a.checkout-btn:hover{
	color: #fff;background: rgb(210, 95, 16);border-color: rgb(210, 95, 16);
}
.product-details .link-list{
	display: block;border: 1px solid #999;padding: 20px 0;margin: 0px;border-bottom: 0px;font-size: 13px;color: #000;
}
.product-details .link-list .ord-img{
	padding-right: 0px;
}
.product-details .link-list .ord-img img{
	border: none;
}
.product-details .ord-link a{
	display: block;margin-bottom: 10px;
}
.row-sep{
	overflow: hidden;
}
.row-sep.row{
	margin-left: 0;margin-right: 0;
}
.product-details .link-list:last-child{
	border-bottom: 1px solid #999;
}
.order-summary{
	border: 1px solid #999;
}
.order-summary h3{
	font-weight: 300;font-size: 30px;border-bottom: 1px solid #ccc;padding: 20px 0;
}
.t-price-val{
	overflow: hidden;border-bottom: 1px solid #ccc;padding-bottom: 8px;padding-top: 8px;
	font-size: 16px;color:#000;
}
.t-price-total{
	overflow: hidden;padding-bottom: 15px;padding-top: 8px;
	font-size: 22px;color:#000;font-weight: 600;
}
.t-price-total .t-due{
	float: left;
}
.t-price-total .fin-price{
	color: #3597D8;
}
.t-price-val span{
	float: left;
}
.order-summary .list-btn-wrap a{
	padding: 10px 0;
}
.list-btn-wrap .btn-blue{
	background: #3597D8;color: #fff;border-color: #3597D8;
}
.list-btn-wrap .btn-blue:hover{
	opacity: .9;color: #fff;border-color: #3597D8;
}
@media screen and (max-width:992px){	

	.orders-list-ul .ord-num,.orders-list-ul .ord-date{
		border-right: 0px;border-bottom: 1px solid #000;height: 90px;
	}
	
}


